<!DOCTYPE html>
<html>
<head>
  <title>SandDollar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="http://www.sanddollaronline.com/new-img/header.jpg"/>
  <%= render "layouts/auth_buttons" %>
  <%= render "layouts/errors" %>
  <%= yield %>

</body>
</html>
