<!DOCTYPE html>
<html>
<head>
  <title>SandDollar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="http://www.sanddollaronline.com/"><img src="http://www.sanddollaronline.com/new-img/header.jpg"/></a>
  <br>
  <a href="http://www.sanddollaronline.com/"> Visit the Real Sand Dollar Site Here</a>
  <br>
  <%= render "layouts/auth_buttons" %>
  <%= render "layouts/errors" %>
  <%= yield %>

</body>
</html>
